
.input-container {

    margin: 15px 0px 15px 0px;

    .input-label {
        margin: 0px 5px 2px 0px;
    }

    .input {
        padding: 5px 5px 5px 5px;
        font-size: 25px;
        width: 100%;
    }
    
}